<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"
    />
    <link
    rel="stylesheet"
    href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}"
    />
    <!-- Iconos de bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'libs/sweetalert/css/sweetalert2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <title>{{title}}</title>
    <link rel="icon" href="{% static 'images/tienda.png' %}" />
    {% block head %}{% endblock head %}
  </head>
  <body>
    {% csrf_token %}
    {% include 'store/plt/navbar.html' %}
    <div class="container">
      <br />
      {% block content %} {% endblock content %}
    </div>

    {% comment %} Scripts {% endcomment %}
    <script
    src="{% static 'libs/jquery/js/jquery-3.6.4.min.js' %}"
    >
    </script>
    <script
      src="{% static 'libs/bootstrap/js/popper.min.js' %}"
    ></script>

    <script
      src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"
      
    ></script>
    <script src="{% static 'libs/sweetalert/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
    <script>
  {% if form.errors %} 
    errors='<ul style="list-style-type: none;">'
    {% for field in form %}
      {% for error in field.errors %}
        errors+="<li>{{ error }}</li>"
      {% endfor %} 
    {% endfor %}
    {% comment %} 
      Errores que no son de los campos 
    {% endcomment %} 
    {% for error in form.non_field_errors %}
      errors+="<li>{{ error }}</li>"
    {% endfor %}
    errors+='</ul>'
    Swal.fire({
      title:'!Error¡',
      //text:errors es para texto normal
      html:errors,
      icon:'error'
    })
  {% endif %}
</script>
{% block js %}{% endblock js %}
  </body>
</html>
